name: Test
on:
  push:
    branches-ignore:
      - gh-pages
  pull_request:
env:
  CI: true

jobs:
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
      - name: Install
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Lint docs
        run: yarn lint:docs
  test:
    name: 'Test for ESLint ${{ matrix.eslint }} on Node.js ${{ matrix.node }} OS: ${{matrix.os}}'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [18, 20]
        eslint: [8]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install
        run: yarn install
      - name: Install ESLint ${{ matrix.eslint }}
        run: yarn add -D eslint@${{ matrix.eslint }}
        if: matrix.eslint != 7
      - name: Test
        run: yarn test
      - name: Integration Test
        run: |
          yarn build
          yarn test:integrations
  test-for-old:
    name: 'Test for ESLint ${{ matrix.eslint }} on Node.js ${{ matrix.node }} OS: ${{matrix.os}}'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12, 14, 16]
        eslint: [7]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install
        run: yarn install --ignore-engines
      - name: Install ESLint ${{ matrix.eslint }}
        run: yarn add -D eslint@${{ matrix.eslint }} --ignore-engines
        if: matrix.eslint != 7
      - name: Test
        run: yarn test
      - name: Integration Test
        run: |
          yarn build
          yarn test:integrations
